name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.3'
          - '3.4'
          - '4.0'
          - head
        include:
          - ruby: head
            allow-failures: true
    continue-on-error: ${{ matrix.allow-failures || false }}
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          submodules: true

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run the default task
        env:
          LIZARD_URL: ${{ secrets.LIZARD_URL }}
          LIZARD_API_KEY: ${{ secrets.LIZARD_API_KEY }}
          LIZARD_REPORT: ${{ matrix.ruby == '4.0' }}
        run: bundle exec rake

      - name: Upload coverage results
        uses: actions/upload-artifact@v6.0.0
        if: matrix.ruby == '4.0'
        with:
          name: coverage-report
          path: coverage
